/* Budget 360 CSS Styles 
Author: John Allen
*/
@import url('jquery.tooltip.css');
table {
	padding:0;
	margin:0;
	border:none;
 }
 /* Bugetheader */
 .budgethead{
	width:100%;
	margin:0; padding:0;
 }
 .budgethead h1 {
	font-size:2.2em;
	color:#a0cc4a;
	border:0;
 }
 .budgethead .progress {
	top:10px;
     display:inline;
	float:right;
 }
 /* income area */
.income{
	font-family:Arial, Verdana, sans-serif;
	width:960px;
	padding:0; margin:0 auto;
	height:800px;
} 
/*for jQuery error messages*/
.error{
	color: red;
	display:block;
	width:100%;
}
.income table {
	width:80%;
	padding:5px;
}
.income td{
	font-size:2em;
	color:#000000;
        vertical-align: top;
}
.income input[type="text"]{
        font-size: 1.3em;
	color:#969696;
	border: 1px solid #b8b8b8;
	padding:2px;
	width:90%;
}
.income h1 {
	font-size:2.2em;
	color:#a0cc4a;
	line-height:1.4em;
}
.income h2{
	font-size:1.1em;
	line-height:1.4em;
}
#sidebar {
	display:inline;
	float:right;
	width:178px;
}
.sidebaritem {
    display: block;
}
#aboutbox{
     padding:5px;
     background-color: #e5ffb2;
     color: #769b2f;
     /*rounded corners*/
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	/*for Webkit browsers*/
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	/*standard browsers*/
border-radius:10px;
    behavior: url(libs/PIE.htc);
}

select{
	font-size:1.1em;
	color:#000fff;
	border: 1px solid black;
	padding:2px;
 }
.expenditures{
	font-family:Arial, Verdana, sans-serif;
	height:1600px;
	padding:0; margin:0 auto;
}
#budgetform table{
    vertical-align:top;
}
#budgetform select{

}
#budgetform tr, #budgetform td{
    vertical-align: top;
    text-align: right;
    padding:5px;
    font-size:1.1em;
}
#budgetform input[type="text"]{
	color:#000000;
	border: 1px solid #b8b8b8;
	padding:1px;
        font-size: 1.4em;
}
fieldset{
    border: 1px solid #217aff;
    padding:10px;
    width: 75%;
}
legend{
    font-size:1.6em;
    color:#a0cc4a;
    line-height:1.4em;
    padding:10px;
}
/* Outcomestyles */
#piechart{
    width: 80%;
    display: block;
}
#piechartinfo{
    padding:0; margin: 0;
}
.piechartlist{
    margin-left: 20px;
}
.rightcol{
    position: absolute;
    left:380px;
    width: 360px;
    display: inline;
}
#leftcol{
    position: absolute;
    left:0px;
    width:330px;
    display: inline;
}
#breakdown{
    position: relative;
    display: block;
    width: 760px;
    top:60px;
}
.rightfloat{
   display: inline;
   float: right;
}
#popupform {
    color: #000000;
    font-size: 1em;
    border: 1px solid #217aff;
}
#popupform h2{
    color: #a0cc4a;
    font-size: 1.6em;
    border:0;
    padding:0;
    font-weight: bold;
    text-decoration: none;
}
#popupform table{
    width:100%;
    color: #000000;
    padding: 5px;
}
#popupform td{
    font-size: 1.3em;
    text-align:left;
    width:100%;
}
#popupform input[type="submit"]{
    font-size: 1.5em;
    color:#000000;
    background-color:#F8FBFE;
    text-align: center;
     width:90%;
}
#popupform input[type="text"]{
   font-size: 1.5em;
   color:#000000;
   width:90%;
}
#popupemail {
    color: #000000;
    font-size: 1em;
    border: 1px solid #217aff;
}
#popupemail h2{
    color: #a0cc4a;
    font-size: 1.6em;
    border:0;
    padding:0;
    font-weight: bold;
    text-decoration: none;
}
#popupemail table{
    width:100%;
    color: #000000;
    padding: 5px;
}
#popupemail td{
    font-size: 1.3em;
    text-align:left;
    width:100%;
}
#popupemail input[type="text"]{
   font-size: 1.5em;
   color:#000000;
   width:90%;
}

#popupemail input[type="submit"]{
    font-size: 1.5em;
    color:#000000;
    background-color:#F8FBFE;
    text-align: center;
    width:100%;
}
#alert{
    border: 1px solid #ffff00;
    background-color: #ffff99;
    width:100%;
    color: red;
    padding: 10px;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.4em;
}
.msgalert{
    border: 1px solid #838383;
    background-color: #e4e4e4;
    width:100%;
    color: #000000;
    padding: 2px;
    font-size: 0.8em;
    font-weight: bold;
    text-align:center;
    z-index: 99999;
    margin-bottom: 5px;
    -moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	/*for Webkit browsers*/
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	/*standard browsers*/
	border-radius:5px;
    behavior: url(libs/PIE.htc);
}
.msgalert h2{
    background-color: #494949;
    font-size: 1.4em;
    color:#ffffff;
    text-align: left;
    margin-bottom: 5px;
    padding:0;
    text-indent: 5px;
}
.msgalert p{
    font-size: 1.2em;
    text-align: left;
    font-weight: 300;
    margin-bottom: 5px;
}
.msgalert li{
   font-size: 1.2em;
   padding:0;
   margin-left: 15px;
}
.msgalert em{
    font-weight: bold;
}
/* Important box */
.important{
    border: 1px solid #0e9500;
    background-color: #4faa45;
    width:100%;
    color: #000000;
    padding: 2px;
    font-size: 0.8em;
    font-weight: bold;
    text-align:center;
    z-index: 99999;
    margin-bottom: 5px;
    -moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	/*for Webkit browsers*/
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	/*standard browsers*/
	border-radius:5px;
    behavior: url(libs/PIE.htc);
}
.important h2{
    background-color: #0e9500;
    font-size: 1.4em;
    color:#ffffff;
    text-align: left;
    margin-bottom: 5px;
    padding:0;
    text-indent: 5px;
}
.important p{
    font-size: 1.2em;
    text-align: left;
    font-weight: 300;
    margin-bottom: 5px;
}
.notice{
    border: 1px solid #fc8e00;
    background-color: #fea32d;
    width:100%;
    color: #000000;
    padding: 2px;
    font-size: 0.8em;
    font-weight: bold;
    text-align:center;
    z-index: 99999;
    margin-bottom: 5px;
    -moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	/*for Webkit browsers*/
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	/*standard browsers*/
	border-radius:5px;
    behavior: url(libs/PIE.htc);
}
.notice h2{
    background-color: #fc8e00;
    font-size: 1.4em;
    color:#ffffff;
    text-align: left;
    margin-bottom: 5px;
    padding:0;
    text-indent: 5px;
}
.notice p{
    font-size: 1.2em;
    text-align: left;
    font-weight: 300;
    margin-bottom: 5px;
}
.warning{
    border: 1px solid #ff0000;
    background-color: #ff5f5f;
    width:100%;
    color: #ffffff;
    padding: 2px;
    font-size: 0.8em;
    font-weight: bold;
    text-align:center;
    z-index: 99999;
    margin-bottom: 5px;
    -moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	/*for Webkit browsers*/
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	/*standard browsers*/
	border-radius:5px;
    behavior: url(libs/PIE.htc);
}
.warning h2{
    background-color: #ff0000;
    font-size: 1.4em;
    color:#ffffff;
    text-align: left;
    margin-bottom: 5px;
    padding:0;
    text-indent: 5px;
}
.warning p{
    font-size: 1.2em;
    text-align: left;
    font-weight: 300;
    margin-bottom: 5px;
}

#expalert{
    border: 1px solid #ffff00;
    background-color: #ffff99;
    width:75%;
    color: #000000;
    padding: 2px;
    font-size: 1.1em;
    margin-bottom: 10px;
    font-weight: 300;
    text-align: center;
}